//			*******************************
//			** CxAerospace Station Parts **
//			**    TweakScale  Support    **
//			*******************************
//
//		This file is part of TweakScaleCompanion_APP - TweakScale Companion for AirplanePlus
//			© 2020-2025 LisiasT : http://lisias.net <support@lisias.net>
//
//		TweakScaleCompanion_APP is double licensed, as follows:
//			* SKL 1.0 : https://ksp.lisias.net/SKL-1_0.txt
//			* GPL 2.0 : https://www.gnu.org/licenses/gpl-2.0.txt
//
//		And you are allowed to choose the License that better suit your needs.
//
//		TweakScaleCompanion_APP is distributed in the hope that it will be useful,
//		but WITHOUT ANY WARRANTY; without even the implied warranty of
//		MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
//
//		You should have received a copy of the SKL Standard License 1.0
//		along with TweakScaleCompanion_APP. If not, see <https://ksp.lisias.net/SKL-1_0.txt>.
//
//		You should have received a copy of the GNU General Public License 2.0
//		along with TweakScaleCompanion_APP. If not, see <https://www.gnu.org/licenses/>.
//
// https://forum.kerbalspaceprogram.com/index.php?/topic/138910-*
//		https://spacedock.info/mod/64/CxAerospace:%20Station%20Parts%20Pack
//		https://imgur.com/a/mcIwe


// ** Science **

@PART[CXA_ELM_MiniLab]:NEEDS[CxAerospace/Station?Parts,TweakScale]:FOR[TweakScaleCompanion_LivingStyle_CxA] // Experiment Logistics Module (ELM)
{
	%bulkheadProfiles = size1, size2
	#@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
	%MODULE[TweakScale]
	{
		type = stack_square
		defaultScale = 2.5
	}
}

@PART[CXA_Kibo_Lab]:NEEDS[CxAerospace/Station?Parts,TweakScale]:FOR[TweakScaleCompanion_LivingStyle_CxA] // Joint Experiments Module (JEM)
{
	%bulkheadProfiles = cxa_apas0p5, size1, size2
	#@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
	%MODULE[TweakScale]
	{
		type = stack_square
		defaultScale = 2.5
	}
}
