//			******************************************
//			** Tokamak Industries Refurbished Parts **
//			**         TweakScale  Support          **
//			******************************************
//
//		This file is part of TweakScaleCompanion_LivingStyle - TweakScale Companion Living Style
//		© 2020-21 LisiasT : http://lisias.net <support@lisias.net>
//
//		TweakScaleCompanion_LivingStyle is double licensed, as follows:
//
//		* SKL 1.0 : https://ksp.lisias.net/SKL-1_0.txt
//		* GPL 2.0 : https://www.gnu.org/licenses/gpl-2.0.txt
//
//		And you are allowed to choose the License that better suit your needs.
//
//		TweakScaleCompanion_LivingStyle is distributed in the hope that it will be useful,
//		but WITHOUT ANY WARRANTY; without even the implied warranty of
//		MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
//
//		You should have received a copy of the SKL Standard License 1.0
//		along with TweakScaleCompanion_LivingStyle. If not, see <https://ksp.lisias.net/SKL-1_0.txt>.
//
//		You should have received a copy of the GNU General Public License 2.0
//		along with TweakScaleCompanion_LivingStyle. If not, see <https://www.gnu.org/licenses/>.
//
// ** Tokamak Industries Refurbished Parts (excluding HobPack) **
//
// https://forum.kerbalspaceprogram.com/index.php?/topic/58534-*
// https://forum.kerbalspaceprogram.com/index.php?/topic/146633-*
// https://forum.kerbalspaceprogram.com/index.php?/topic/163166-*
//
//	https://github.com/maekern/Tokamak-Refurbished-Parts/releases
//	https://github.com/linuxgurugamer/Tokamak-Refurbished-Parts/releases


// ** Utility **

@PART[TIdryworkshop]:NEEDS[TokamakIndustries,TweakScale]:FOR[TweakScaleCompanion_LivingStyle_HabTech] // T.I. Dry Workshop
{
	#@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
	%MODULE[TweakScale]
	{
		type = stack_square
		defaultScale = 2.5
	}
}

@PART[TIinflato1]:NEEDS[TokamakIndustries,TweakScale]:FOR[TweakScaleCompanion_LivingStyle_HabTech] // Inflato Habitat PA550
{
	#@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
	%MODULE[TweakScale]
	{
		type = stack_square
		defaultScale = 1.25
	}
}

@PART[TIinflato2]:NEEDS[TokamakIndustries,TweakScale]:FOR[TweakScaleCompanion_LivingStyle_HabTech] // Inflato Workshop PA330
{
	#@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
	%MODULE[TweakScale]
	{
		type = stack_square
		defaultScale = 1.25
	}
}

@PART[TImunoxShuttle]:NEEDS[TokamakIndustries,TweakScale]:FOR[TweakScaleCompanion_LivingStyle_HabTech] // T.I. Munox Service Shuttle
{
	#@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
	%MODULE[TweakScale]
	{
		type = stack_square
		defaultScale = 2.5
	}
}

@PART[centrifugeSmall]:NEEDS[TokamakIndustries,TweakScale]:FOR[TweakScaleCompanion_LivingStyle_HabTech] // Small centrifugeal Habitat
{
	#@TWEAKSCALEBEHAVIOR[Science]/MODULE[TweakScale] { }
	%MODULE[TweakScale]
	{
		type = stack_square
		defaultScale = 1.25
	}
}
