//			*******************************
//			**      KSS2 Gambiarras      **
//			**    TweakScale  Support    **
//			*******************************
//
//		This file is part of TweakScaleCompanion_Gambiarras - TweakScale Companion with Gambiarras for 3rd Parties
//			© 2026 LisiasT : http://lisias.net <support@lisias.net>
//
//		TweakScaleCompanion_Gambiarras is double licensed, as follows:
//			* [All Rights Reserved](../../LICENSE).
//
//		TweakScaleCompanion_Gambiarras is distributed in the hope that it will be useful,
//		but WITHOUT ANY WARRANTY; without even the implied warranty of
//		MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
//
// https://www.reddit.com/r/TweakScale/comments/1suvegg/fatal_error_help/
//		https://github.com/JadeOfMaar/RationalResources/
//

@PART[RRScoopAtmS2]:NEEDS[RationalResourcesParts,TweakScale]:FOR[TweakScaleCompanion_Gambiarras]
{
	-MODULE[TweakScale],* { }
}
@PART[RRScoopAtmS2]:NEEDS[RationalResourcesParts,TweakScale]:FOR[TweakScaleCompanion_Gambiarras]
{
	#@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
	%MODULE[TweakScale]
	{
		type = stack
		defaultScale = 2.5
	}
}
